---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h1>Effektlagen</h1>
    <h2>INFO:</h2>
    <p>Effektlagen (även känd som Joules lag i vissa sammanhang) är en grundläggande princip inom elektrotekniken som beskriver relationen mellan elektrisk effekt och de övriga elektriska storheterna i en krets, såsom spänning, ström och resistans. Effektlagen uttrycker hur mycket arbete per tidsenhet som utförs i en elektrisk krets eller hur mycket energi per tidsenhet som förbrukas av en elektrisk enhet. <br>
        Effektlagen kan formuleras på flera sätt, beroende på vilka andra elektriska storheter som är kända: <br>
    <p>Effektlagen (spänning och ström): \(P = V \times I\)</p>
    <p>Effektlagen (ström och resistans): \(P = I^2 \times R\)</p>
    <p>Effektlagen (spänning och resistans): \(P = V^2 \times R\)</p>
        <p>där P är effekten (mäts i watt, W), V är spänningen (mäts i volt, V), I är strömmen (mäts i ampere, A), och R är resistansen (mäts i ohm, Ω).</p>
</Layout>