---

import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1>Effektfaktor</h1>
    <img src="/effektfaktor.png" alt="Triangel som beskriver effektfaktor." />
    <ul>
        <li><b>P</b> - Aktiv effekt. Enheten är watt(W).</li>
        <li><b>Q</b> - Reaktiv effekt. Enheten är voltampere(var).</li>
        <li><b>S</b> - Skenbar effekt. Enheten är voltampere(VA).½½</li>
    </ul>
</Layout>>