---
import Layout from '../layouts/Layout.astro';
import ohmsLawsvg from "../../public/Ohm's_Law_Pie_chart.svg"
---

<Layout title="Kräm - Välkommen">
	<main class="md:container place-content-center">
		<div class="flex">
			<img src={ohmsLawsvg.src} alt="Image of Ohms Law pie chart" class="size-80 flex-initial md:flex-none">
		</div>
		<nav>
			<ul class="flex justify-items-center place-content-center"
				<li class="basis-1/3 text-center border-dotted border-cyan-300"><a href="#">OM</a></li>
				<li class="basis-1/3 text-center"><a href="#">RÄKNA</a></li>
				<li class="basis-1/3 text-center"><a href="https://github.com/kogge/kramxyz">GITHUB</a></li>
			</ul>
		</nav>
	</main>
</Layout>