---
import Layout from '../layouts/Layout.astro';
import ohmsLawsvg from "../../public/Ohm's_Law_Pie_chart.svg"
---

<Layout title="Kräm - Välkommen">
	<main class="md:container place-content-center">
		<div class="flex justify-center pt-8">
			<img src={ohmsLawsvg.src} alt="Image of Ohms Law pie chart" class="size-80 flex-initial md:flex-none">
		</div>
		<nav class="pt-8 md:pt-16">
			<ul class="flex items-center md:justify-center flex-col md:flex-row md:gap-16 text-lg md:text-xl">
				<li class=""><a href="/om">OM</a></li>
				<li class=""><a href="/rakna">RÄKNA</a></li>
				<li class=""><a href="https://github.com/kogge/kramxyz">GITHUB</a></li>
			</ul>
		</nav>
	</main>
</Layout>