---
import Layout from '../layouts/Layout.astro';
import ohmsLawsvg from "../../public/Ohm's_Law_Pie_chart.svg"
---

<Layout title="Kräm - Välkommen">
	<main class="md:container place-content-center">
		<div class="flex">
			<img src={ohmsLawsvg.src} alt="Image of Ohms Law pie chart" class="size-64 flex-initial md:flex-none">
		</div>
	</main>
</Layout>