---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1>OM</h1>
    <section>
        <p>
            Komvuxprojekt där jag skapat en hemsida för att kunna räkna på grundläggande matematiska formler inom elteori som vi har lärt oss under kursernas gång.
        </p>
        <p>
            Av: Karl-Oskar Andersson
        </p>
        <br>
        <address>
            <p>Om du vill kontakta mig kan du/ni nå mig på:</p>
            <p>Mail: <a href="mailto:ko_andersson@outlook.com">ko_andersson@outlook.com</a></p>
            <br>
            <a href="tel:+46709677070">+46709677070</a>
        </address>
    </section>
</Layout>