---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1>OM</h1>
    <section>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis cumque dolores enim inventore nisi quas tenetur vero? At autem delectus dolores dolorum eaque laborum perspiciatis quaerat, quidem sed soluta?
        </p>
    </section>
</Layout>