---
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Layout>
    <h1>Vad vill du räkna på?</h1>
    <ul>
        <li><a href="rakna/ohmslag">Ohms Lag</a></li>
        <li><a href="rakna/effektlagen">Effektlagen</a></li>
        <li><a href="rakna/effektfaktor">Effektfaktor</a></li>
        <LinkButton bg="green" bgHover="blue" href="#" name="TEST" />
    </ul>
</Layout>