---
import "../styles/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="flex flex-row justify-center h-screen">
			<div class="w-4 md:w-28 bg-[#d1cee5]"></div>
			<header class="p-4 shadow-md">
				<h1>
					KRÄM.xyz
				</h1>
			</header>
					<main class="grow bg-white">
						<slot />
					</main>
			<div class="w-4 md:w-28 bg-[#fbcdcf]"></div>
		</div>
	</body>
</html>